.header {
    position: fixed;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo {

        }
        .navigation {
            width: 80%;
            margin-right: 20%;
            
            
            
            .nav-items {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}