<div class="header">
    <div class="wrapper">  
        <div class = 'logo'>
            <a href = #>
                <img src = '../../../../../assets/Screenshot.png' >
            </a> 
        </div>
        <div class = "navigation">
            <ul class = 'nav-items'>
                <li class = "list">
                    <a class = 'first-el' href = # >Бокс</a>
                    <div class = 'dropdown-items' *ngIf = "shown" >
                        <div class = 'el-wrapper'>
                            <a href = '#' class = "here">Трасляции бокс</a>
                            <a href = '#' class = "here">Публикации</a>
                        </div>    
                    </div>
                </li>
                <li><a href = "#" >Бокс</a></li>
                <li><a href = #>Бокс</a></li>
                <li><a href = #>Бокс</a></li>            
                <li><a href = #>Бокс</a></li>            
                <li><a href = #>Бокс</a></li>            
                <li><a href = #>Бокс</a></li>            
                <li><a href = #>Бокс</a></li>            
                <li><a href = #>Бокс</a></li>            
            </ul>
        </div>   
    </div>
    <app-subheader></app-subheader>
</div>

